@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "rsvpme";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.014 343.198);
  --color-base-200: oklch(94% 0.028 342.258);
  --color-base-300: oklch(89% 0.061 343.231);
  --color-base-content: oklch(40% 0.153 2.432);
  --color-primary: oklch(28% 0.109 3.907);
  --color-primary-content: oklch(97% 0.014 343.198);
  --color-secondary: oklch(98% 0.003 247.858);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(98% 0.003 247.858);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(40% 0.153 2.432);
  --color-neutral-content: oklch(97% 0.014 343.198);
  --color-info: oklch(35% 0.144 278.697);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: #4c701b;
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(55% 0.195 38.402);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(51% 0.222 16.935);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}
