---
import SiteLayout from "~/layouts/SiteLayout.astro";

const { userId } = Astro.locals.auth();
if (!userId) {
  return Astro.redirect("/login");
}
---

<SiteLayout title="Home">
  <p>Welcome to rsvpme!</p>
</SiteLayout>
