---
import SiteLayout from "~/layouts/SiteLayout.astro";

const redirectToSignIn = Astro.locals.auth();
const user = await Astro.locals.currentUser();

if (!user) {
  return redirectToSignIn();
}
---

<SiteLayout title="Home">
  <p>Welcome, {user.firstName}</p>
</SiteLayout>
