---
import { SignIn, SignedOut } from "@clerk/astro/components";
import SiteLayout from "~/layouts/SiteLayout.astro";
---

<SiteLayout title="Login">
  <SignedOut>
    <div class="flex justify-center">
      <div class="mt-36">
        <SignIn />
      </div>
    </div>
  </SignedOut>
</SiteLayout>
