---
import { SignUp as ClerkSignUp, SignedOut } from "@clerk/astro/components";
import AppLayout from "~/client/layouts/AppLayout.astro";

const { userId } = Astro.locals.auth();
if (userId) {
  return Astro.redirect("/");
}
---

<AppLayout title="Sign up">
  <SignedOut>
    <div class="flex justify-center">
      <div class="mt-36">
        <ClerkSignUp
          forceRedirectUrl="/api/auth"
          signInForceRedirectUrl="/api/auth"
        />
      </div>
    </div>
  </SignedOut>
</AppLayout>
