---
import { SignUp as ClerkSignUp, SignedOut } from "@clerk/astro/components";
import SiteLayout from "~/layouts/SiteLayout.astro";

const { userId } = Astro.locals.auth();
if (userId) {
  return Astro.redirect("/");
}
---

<SiteLayout title="Sign up">
  <SignedOut>
    <div class="flex justify-center">
      <div class="mt-36">
        <ClerkSignUp
          forceRedirectUrl="/api/users/verify"
        />
      </div>
    </div>
  </SignedOut>
</SiteLayout>
