---
import { SignIn as ClerkSignIn, SignedOut } from "@clerk/astro/components";
import AppLayout from "~/layouts/AppLayout.astro";

const { userId } = Astro.locals.auth();
if (userId) {
  return Astro.redirect("/");
}
---

<AppLayout title="Sign in">
  <SignedOut>
    <div class="flex justify-center">
      <div class="mt-36">
        <ClerkSignIn
          forceRedirectUrl="/welcome"
          signUpForceRedirectUrl="/welcome"
        />
      </div>
    </div>
  </SignedOut>
</AppLayout>
