---
import { SignIn as ClerkSignIn, SignedOut } from "@clerk/astro/components";
import SiteLayout from "~/layouts/SiteLayout.astro";

const { userId } = Astro.locals.auth();
if (userId) {
  return Astro.redirect("/");
}
---

<SiteLayout title="Sign in">
  <SignedOut>
    <div class="flex justify-center">
      <div class="mt-36">
        <ClerkSignIn
          forceRedirectUrl="/api/auth"
          signUpForceRedirectUrl="/api/auth"
        />
      </div>
    </div>
  </SignedOut>
</SiteLayout>
